.add-contact-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .add-contact-form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .add-contact-form button {
    background-color: #4CAF50; /* Зелений */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-contact-form button:hover {
    background-color: #45a049; /* Темніший зелений */
  }
  
  .error-message {
    color: red;
    margin-top: -5px;
    margin-bottom: 10px;
  }
  